@media screen and (max-width: 950px) {
  section {
    padding: 3rem 0;
  }

  .hide {
    display: none;
  }

  nav {
    height: 8vh;
    background: rgba($color: #000000, $alpha: 0.8);
    .ul {
      position: absolute;
      background-color: rgba($color: #000000, $alpha: 0.8);
      flex-direction: column;
      justify-content: space-around;
      top: 8vh;
      right: 0;
      width: 50%;
      height: 92vh;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;

      li {
        margin-left: 0;
      }
    }
    .nav-active {
      transform: translateX(0);
    }

    .burger {
      display: block;
    }
  }
  .container {
    width: 90%;
  }

  .btn {
    margin-left: 0;
    font-size: 2rem;
  }

  .hero {
    &__content {
      &-main {
        font-size: 5rem;
        line-height: 1;
        margin-bottom: 2rem;
      }

      &-text {
        font-weight: 400;
      }
    }
  }

  .education {
    &__inner {
      flex-direction: column;

      .education__right {
        margin-top: 2rem;
        padding-left: 0;
        text-align: center;

        &-bottom {
          text-align: left;
        }
      }
    }
  }

  .features {
    &__grid {
      grid-template-columns: 1fr;

      .mb7 {
        margin-bottom: 0;
      }

      &-item {
        margin: 3.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        &-main {
          margin: 2rem 0px 1rem;
        }

        &-image {
          transform: translateX(0);
        }
      }
    }
  }

  .courses {
    &__coll {
      flex-direction: column;
      justify-content: space-between;

      .courses__wrap {
        width: 100%;
        margin: 3.5rem 0;
      }
    }
  }

  .teachers {
    &__content {
      flex-direction: column;

      .teachers__card {
        width: 100%;
        justify-content: center;
      }
    }
  }

  .programs {
    &__content {
      flex-direction: column;

      .programs__card {
        width: 100%;
      }
    }
  }

  .reviews {
    &__pics {
      img {
        display: none;
      }
      .pic_active {
        display: block;
      }
    }
    &__text {
      width: 100%;
      margin: 2rem auto 0;
    }

    .left,
    .right {
      display: none;
    }
  }

  .subscribe {
    &__inner {
      flex-direction: column;
      text-align: center;
      justify-content: space-between;

      h1 {
        font-size: 2.6rem;
      }

      form {
        width: 80%;
        margin: 0 auto;

        input.form {
          width: 100%;
        }
      }

      input[type='email'] {
        margin: 2rem 0;
      }

      input[type='email']::placeholder {
        font-size: 2.2rem;
      }
    }
  }

  .contact {
    &__inner {
      flex-direction: column;
      max-width: 100vw;

      .inner_left {
        margin-bottom: 3.5rem;

        form {
          textarea {
            width: 100%;
            font-family: 'Montserrat';
          }
        }
      }

      .inner_right {
        .map {
          iframe {
            width: 100%;
          }
        }
        .add_info {
          flex-direction: column;
        }
      }
    }
  }

  .footer {
    display: none;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .one {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .two {
    opacity: 0;
  }

  .toggle .three {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
